# Excluir
/nbproject/
/nbproject/project.properties
/nbproject/project.xml

# IDE and editor specific files #
#################################
/nbproject
.idea
/.project
/.buildpath

# CakePHP 3

/vendor/*
#/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/app/Config/email.php
/vendors/*

/app/tmp/*
!/app/tmp/
!/app/tmp/empty

/app/tmp/cache/*
!/app/tmp/cache/
!/app/tmp/cache/empty
 
/app/tmp/cache/models/*
!/app/tmp/cache/models/
!/app/tmp/cache/models/empty
 
/app/tmp/cache/persistent/*
!/app/tmp/cache/persistent/
!/app/tmp/cache/persistent/empty
 
/app/tmp/cache/views/*
!/app/tmp/cache/views/
!/app/tmp/cache/views/empty
 
/app/tmp/logs/*
!/app/tmp/logs/
!/app/tmp/logs/empty
 
/app/tmp/sessions/*
!/app/tmp/sessions/
!/app/tmp/sessions/empty
 
/app/tmp/tests/*
!/app/tmp/tests/
!/app/tmp/tests/empty

/app/webroot/files/*
!/app/webroot/files/
!/app/webroot/files/empty

*~
*.bak
build
.buildpath
compass
_compass.scss
composer.lock
desktop.ini
.DS_Store
.DS_Store?
.idea
/logs
nbproject/
node_modules
.project
.sass-cache
.settings
ehthumbs.db
Thumbs.db
.tmpoj
.vagrant
*.mo
Icon?
.Trashes
._*

#Files
/app/webroot/files/
/app/webroot/files/*
/app/webroot/files/shops/
/app/webroot/files/shops/*
/app/webroot/files/shop_commerces/
/app/webroot/files/shop_commerces/*
/app/webroot/files/customers/*
/app/webroot/files/customers/

/lib/Cake/Console/Templates/skel/tmp/
/lib/Cake/Console/Templates/skel/tmp/*